name: Publish package to the Maven Central Repository
#on:
#  release:
#    types: [created]
on:
  push:
    branches: [ releases ]
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Maven Central Repository
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
          server-id: nexus-releases
          server-username: MAVEN_USERNAME
          server-password: MAVEN_PASSWORD
#      - name: Debug true
#        env:
#         AAA: asdada
#         MAVEN_USERNAME: ${{ secrets.MAVEN_USERNAME }}
#        run: |
#          echo "AAA: $AAA"
#          echo "MAVEN_USERNAME: $MAVEN_USERNAME"
      - name: Publish package
        env:
          MAVEN_USERNAME: ${{ secrets.MAVEN_USERNAME }}
          MAVEN_PASSWORD: ${{ secrets.MAVEN_PASSWORD }}
        run: mvn install deploy -Drepo.login=$MAVEN_USERNAME -Drepo.pwd=$MAVEN_PASSWORD
